
<!-- <div>RODAPÉ</div>
<section class="bg-footer" id="connect">
  <div class="container">
      <div class="row">
          <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-xs-12 text-center wow fadeIn">
              <h1>Startup Tocantins</h1>
              <p class="mt-4">
                  <a href="https://twitter.com/StartupTO_" target="_blank"><em class="ion-social-twitter text-twitter-alt icon-sm mr-3"></em></a>
                  <a href="https://www.facebook.com/StartUpTocantins/" target="_blank"><em class="ion-social-facebook text-facebook-alt icon-sm mr-3"></em></a>
                  <a href="https://github.com/startup-tocantins/" target="_blank"><em class="ion-social-github text-github-alt icon-sm mr-3"></em></a>
                  <a href="https://instagram.com/startuptocantins" target="_blank"><em class="ion-social-instagram text-instagram-alt icon-sm mr-3"></em></a>
              </p>
              <p class="pt-2 text-muted">
                  &copy; 2014-2020 Startup Tocantins <br>
              </p>
          </div>
      </div>
  </div>
</section> -->

<footer class="sticky-footer">
    <div class="container">
      <p class="text-muted">Startup TO 2020</p>
    </div>
  </footer>


<!-- <footer id="footer" class="sticky-footer">
    <div class="container footer">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
            <div id="text-5" class="widget widget_text"><div class="widget-title"><h5>PRODUCTS</h5></div> <div class="textwidget"><ul><li><a href="#" title="Our work">Our work</a></li><li><a href="#" title="Club">Club</a></li><li><a href="#" title="News">News</a></li><li><a href="#" title="Announcement">Announcement</a></li></ul></div>
            </div> </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
            <div id="text-6" class="widget widget_text"><div class="widget-title"><h5>INFORMATION</h5></div> <div class="textwidget"><ul><li><a href="#" title="Pricing">Pricing</a></li><li><a href="#" title="Terms">Terms</a></li><li><a href="#" title="Affiliates">Affiliates</a></li><li><a href="#" title="Blog">Blog</a></li></ul></div>
            </div> </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
            <div id="text-7" class="widget widget_text"><div class="widget-title"><h5>SUPPORT</h5></div> <div class="textwidget"><ul><li><a href="#" title="Documentation">Documentation</a></li><li><a href="#" title="FAQs">FAQs</a></li><li><a href="#" title="Forums">Forums</a></li><li><a href="#" title="Contact">Contact</a></li></ul></div>
            </div> </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
            </div>
        </div>
    </div>
</footer>    -->